* {
	/*border: solid 1px green;*/
}

body {
	/*border: 5px solid red;*/
	position: absolute;
	top: 130px; right: 0; bottom: 0; left: 0;
	background: navajowhite;
	height: 100%;
}
/*********************************
Header
*********************************/
.header
{
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
}

.header_container
{
	width: 100%;
	z-index: 1;
	background: #FFFFFF;
}
.header_content
{
	width: 100%;
	height: 100px;
}

.logo a
{
	font-size: 30px;
	font-weight: 700;
	color: #1b1b1b;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.main_nav
{
	margin-left: 156px;
}
.main_nav > ul > li
{
	display: inline-block;
	position: relative;
}
.main_nav > ul > li:not(:last-child)
{
	margin-right: 46px;
}

.main_nav > ul > li > a
{
	font-size: 16px;
	font-weight: 600;
	color: #767676;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.shopping_cart
{
	display: inline-block;
}
.shopping_cart a:hover i,
.shopping_cart a:hover div
{
	fill: #e95a5a;
	color: #e95a5a;
}
.shopping_cart a div
{
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	font-weight: 500;
	color: #1b1b1b;
	margin-left: 13px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.shopping_cart a div span
{
	margin-left: 4px;
}
.search
{
	display: inline-block;
	margin-left: 51px;
	cursor: pointer;
	vertical-align: sub;
	-webkit-transform: translateY(-1px);
	-moz-transform: translateY(-1px);
	-ms-transform: translateY(-1px);
	-o-transform: translateY(-1px);
	transform: translateY(-1px);
}
.search_icon
{
	width: 13px;
	height: 13px;
}

/*********************************
Main Page
*********************************/
/*#mainPage {
	position: absolute;
	top: 140px; right: 0; bottom: 0; left: 0;
	background: navajowhite;
	height: 100%;
}*/

#indexHeading {
	margin-top: 20px;
    margin-bottom: 30px;
    font-family: Righteous, cursive;
    font-size: 130px;
    color: black;
    display: flex;
    justify-content: center;
}

#imgBox {
	display: flex;
    justify-content: space-around;
    width: 100%;
    max-height: 300px;
    padding-bottom: 30px;
}

.welcomeImg {
	width: 28%;
    max-height: 600px;
    border: 2px solid black;
    box-shadow: 2px 0px 2px 2px rgba(0,0,0,0.4);
    float: left;
}

#footerDiv {
	position: absolute;
  	bottom: 0px;
  	width: 100%;
	padding-top: 20px; padding-bottom: 20px; 
  	background-color: #1B1919;
  	color: white;
  	text-align: center;
  	box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.4);
}

/*********************************
Products
*********************************/
.product {
	margin: 50px;
}